.popup__input-error {
  display: inline-block;
  margin-bottom: 30px;
}

@media screen and (max-width: 619px) {
  .popup__input-error {
    margin-bottom: 20px;
  }
}

.popup__input-error:last-of-type {
  margin: 0;
}
