.element__image {
  width: 282px;
  height: 282px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px 10px 0 0;
  margin: 0 0 21px;
  transition: box-shadow .5s ease;
}

.element__image:hover {
  cursor: pointer;
  box-shadow: #000 0 0 10px ;
  transition: box-shadow .5s ease;
}
