.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/close-button.svg);
  background-position: center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.popup__close-button:hover {
  opacity: .6;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .popup__close-button {
    width: 30px;
    height: 30px;
    top: -30px;
    right: -30px;
  }
}
