@import url(./__avatar-container/profile__avatar-container.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__title-container/profile__title-container.css);
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__edit-button/_type/profile__edit-button_type_avatar.css);
@import url(./__add-button/profile__add-button.css);

.profile {
  width: 100%;
  padding: 40px 0 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 619px) {
  .profile {
    flex-direction: column;
    padding: 42px 0 36px;
  }
}
