.main {
  width: 100%;
  max-width: 882px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 919px) {
  .content {
    max-width: calc(100% - 38px);
  }
}
