.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #fff;
  margin-right: 17px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 450px;
}

@media screen and (max-width: 919px) {
  .profile__title {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .profile__title {
    font-size: 27px;
    max-width: 220px;
    }
}

@media screen and (max-width: 619px) {
  .profile__title {
    margin-right: 7px;
    max-width: 260px;
    }
}
