@import url(./__copyright/footer__copyright.css);

.footer {
  max-width: 882px;
  width: 100%;
  padding: 66px 0 60px;
}

@media screen and (max-width: 919px) {
  .footer {
    max-width: calc(100% - 38px);
  }
}

@media screen and (max-width: 619px) {
  .footer {
    padding: 30px 0 26px;
    }
}
