.popup__input {
  width: 100%;
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:last-of-type {
  margin: 0;
}

.popup__input::placeholder {
  color: #C4C4C4;
}

@media screen and (max-width: 619px) {
  .popup__input {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 12px;
  }
}
